<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, viewport-fit=cover"
  />
  <title>
    {{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}
    {{.Site.Title}}
  </title>
  <meta
    name="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} "
  />
  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="stylesheet" href="/css/styles.css" />
  {{if (isset .Site.Params "gravatar")}}
  <link rel="icon" type="image/png" href="https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar }}?s=16">
  {{end}}
</head>
